@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pridi:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
    text-align: center;
}

.big-title {
    font-family: "PT Serif", serif;
    font-style: normal;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0;
}

.subtitle {
    font-family: "Pridi", serif;
    font-style: normal;
    font-size: 23px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

/* Base styling for every card */
.card {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.card:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.05);
    color: black;
}

.card h2{
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 0;
}

.card p{
    font-family: "PT Serif", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin-top: 7px;
}

/* Specific Card Colors */
.yellow { background-color: #fdf57d; }
.red    { background-color: #f2807c; }
.blue   { background-color: #8ed2f5; }
.purple { background-color: #c98cf5; }

a {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 65px;
    background-color: black;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s;
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
}

a:hover {
    transform: scale(1.05);
    background-color: #6EE48C;
    color: black;
}

footer {
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Pridi", serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 10px;
}

#group {
    float: left;
}

#members {
    float: right;
}
